# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Temp / Logs
*.tmp
*.log
logs/
tmp/
temp/

# Node / Build
node_modules/
dist/
_site/

# Editors
.vscode/
.idea/
*.code-workspace

# Cache
.cache/
.parcel-cache/
.eslintcache

# Sync conflicts
*.sync-conflict*
*.orig
*.bak

# Coverage / Testing
coverage/
*.lcov

# Sass / CSS tools
.sass-cache/
